.small-container {
	width: 700px;
	max-width: 100%;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 10;
	background: var(--ion-background-color)
}

.center {
	margin: auto;
}

.margin-auto {
	margin: auto;
}