.small-container {
	width: 700px;
	max-width: 100%;
	padding-left: 30px;
	padding-right: 0;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 10;
	background: var(--ion-background-color)
}

.center {
	margin: auto;
}

.no-select {
	user-select: none;
}

.no-disable {
	opacity: 1 !important;
}

.flip-vertically {
  transform: scaleY(-1);
}

.chip-note {
	min-width: 200px;
	font-family: monospace;
	font-size: 1em;
	/* --background: rgba(var(--ion-text-color-rgb), 0.08); */
	--background: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.bottom-block {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.highlight:hover {
	color: var(--ion-color-primary);
	text-decoration: underline;
	cursor: pointer;
}

hr {
	border: none;
	border-bottom: 3px solid rgba(255,255,255,0.2);
	margin: 10px 0;
}

.split-pane-side {
	min-width: 300px;
	border: none;
}

.small-menu-button, .small-menu-button ion-toolbar{
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 20px 0 !important;
	z-index: 1;
}